html, body {
    padding     : 0px;
    margin      : 0px;
    overflow    : hidden;
    font-family : 'Open Sans', sans-serif;
    font-size   : 16px;
    color       : #999999;
    background  : #171717;
}

.grabbing {
    cursor: url(../img/closedhand.cur);
    cursor: url(../img/closedhand.cur) 8 8, move;
}

/* CANVAS ================================================================== */
#canvas {
    /*background: #171717;*/
    /*background-image: url(../img/background2.png) repeat;*/
}
/* ========================================================================= */

/* MAIN-MENU =============================================================== */
#main-menu {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.37);
    background-color: #454545;
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0px;
    top: 0px;
}
#main-menu a {
    font-family: 'Open Sans', sans-serif !important;
    color: #efefef !important;
    background-color: #454545;
}
#main-menu a:hover {
    background-color: #272727;
}
#main-menu .dropdown {
    min-width: 250px;
    border: 1px solid #3f3f3f;
    border-top: 0px;
}
#main-menu .dropdown .name {
    font-size: 100%;
    float: left;
}
#main-menu .dropdown .key {
    font-family: 'Open Sans', sans-serif !important;
    font-style: italic;
    text-align: right;
    font-size: 100%;
    float: right;
    color: #999999 !important;
}
/* ========================================================================= */

/* SIDE-BAR ================================================================ */
.side-bar {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #2f2f2f;
    position: absolute;
    overflow: hidden;
    z-index: 95;
    height: 100%;
    width: 300px;
    top: 45px;
}
.side-bar .tabs, .side-bar .tabs a {
    font-family: 'Open Sans', sans-serif !important;
    background: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 110%;
    color: #aaa;
    padding: 5px 15px;
    margin: 0px;
    float: none;
}
.side-bar .tabs a:hover {
    background: none;
    color: #fff;
}
.side-bar .tabs .active a {
    background: none;
    color: #4bb2fd;
}
.side-bar .tabs-content, .side-bar .content {
    height: 100%;
}
.side-bar h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
    color: #4bb2fd;
    padding: 5px 15px;
}
.side-bar .wrap {
    padding: 15px;
    height: 90%;
}
.side-bar .app-panel {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 95%;
}
/* ========================================================================= */

/* LEFT SIDE-BAR =========================================================== */
.side-bar.left {
    border-right: 1px solid #373737;
    left: 0px;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.37);
    box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.37);
}
/* ========================================================================= */

/* RIGHT SIDE-BAR ========================================================== */
.side-bar.right {
    border-left: 1px solid #373737;
    right: 0px;
    -webkit-box-shadow: -6px 0px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -6px 0px 15px 0px rgba(0,0,0,0.37);
    box-shadow: -6px 0px 15px 0px rgba(0,0,0,0.37);
}
/* ========================================================================= */

/* NODE LIST =============================================================== */
#node-list, #node-list ul {
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
}
#node-list li.header:not(:first-child) {
    margin-top: 15px;
}
#node-list li.header a {
    text-transform: uppercase;
    border-bottom: 1px solid #373737;
    padding-left: 15px;
    font-weight: bold;
    display: block;
    /*color: #6e6e6e;*/
    color: #999;
}
#node-list li.item a {
    border-bottom: 0px;
    text-transform: inherit;
    font-weight: normal;
    /*color: #999999;*/
    color: #FFF;
}
#node-list li.item a:hover {
    background-color: #272727;
}
#node-list li.item a.edit {
    padding: 0px 5px;
}
#node-list li.item a.edit:hover {
    background-color: #353535;
}
.nodes-operators div.operator {
    display: inline-block;
    height: 30px;
    /*width: 20%;*/
    /*float: right;*/
    text-align: center;
}
.nodes-operators input.operator {
    margin: 0px auto;
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    outline: 0px;
    background-color: #368A55;
    border: 0px;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.nodes-operators input.operator:hover {
    background-color: #2F774A;
}
.dynamic-table {
    border: 0px;
    margin: 0px;
    background-color: #484848 !important;
}
.dynamic-table.operators input {
    color: #FFF;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    background-color: #368A55 !important;
}
.dynamic-table.operators input:hover {
    background-color: #2F774A !important;
}
.dynamic-table tr {
    background-color: #484848 !important;
}
.dynamic-table td {
    height: 40px;
    margin: 0px;
    padding: 0px 10px 0px 0px;
}
.dynamic-table td.operator {
    width: 80px;
}
.dynamic-table td:last-child {
    padding: 0px;
}
.dynamic-table input, .dynamic-table select {
    margin: 0px;
    padding: 0px 0px 0px 5px;
    height: 100%;
    width: 100%;
    transition: background-color 300ms ease-out 0s;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.dynamic-table .operator input {
    color: #FFF;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    background-color: #EC3E21;
}
.dynamic-table .operator input:hover {
    background-color: #CF2A0E;
}
#preview-canvas {
    position: absolute;
    z-index: 100;
    /*background: #FFF;*/
}
/* ========================================================================= */

/* HELP ==================================================================== */
#help-panel {
    margin-top: 15px;
}
/* ========================================================================= */

/* PROPERTIES ============================================================== */
#properties-panel, #properties-panel-alternate {
    margin-top: 15px;
}
#properties-panel label {
    cursor: inherit;
    font-size: 100% !important;
    color: #999999;
}
#properties-panel input[type="text"] {
    /*background-color: #EFEFEF;*/
    /*color: #;*/
}
.editable-table {
    margin-bottom: 16px;
    background-color: #222;
}
.editable-table input {
    margin: 0px;
    padding: 0px 0px 0px 5px;
    height: 100%;
    width: 100%;
}
.editable-table input.operator {
    padding: 0px;
    outline: 0px;
    background-color: #EC3E21;
    border: 0px;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.editable-table input.operator:hover {
    background-color: #CF2A0E;
}
.editable-table div.editable-row {
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
}
.editable-table div.editable-col {
    padding-right: 1px;
    display: inline-block;
    float: left;
    height: 30px;
}
.editable-table div.key {
    width: 40%;
}
.editable-table div.value {
    width: 40%;
}
.editable-table div.operator {
    width: 20%;
    padding-right: 0px;
    float: right;
}
.editable-operators {
    height: 30px;
    background-color: #222;
}
.editable-operators div.operator {
    display: inline-block;
    height: 30px;
    width: 20%;
    float: right;
}
.editable-operators input.operator {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    outline: 0px;
    background-color: #368A55;
    border: 0px;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.editable-operators input.operator:hover {
    background-color: #2F774A;
}
/*#properties-panel .operators {
    float: right;
    position: relative;
    top: -2px;
    margin-right: 2px;
}
#properties-panel .operators a {
    padding-top: 2px;
    padding-bottom: 2px;
    margin:0px;
}*/
/* ========================================================================= */

/* MODALS ================================================================== */
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: -webkit-filter 50ms ease-out 0s;
    transition-property: -webkit-filter;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.reveal-modal {
    padding: 10px;
    background-color: #343434;
}
.reveal-modal h2 {
    font-size: 120%;
    color: #FFF;
    text-align: center;

}
.reveal-modal .close-reveal-modal {
    top: 2px;
}
.reveal-modal .content, .reveal-modal .operations {
    background-color: #484848;
    border: 1px solid #181818;
    padding: 15px;
}
.reveal-modal .content.spacing-bot {
    margin-bottom: 5px;
}
.reveal-modal .operations .button {
    margin: 0px;
    margin-right: 5px;
}
.reveal-modal .operations .button.nopadding {
    margin-right: 0px;
}
.reveal-modal .content {
    color: #efefef;
}
.reveal-modal .content label {
    color: inherit;
}
.reveal-modal .content textarea {
    min-height: 150px;
    height: 35vh;
}
/* ========================================================================= */
