html, body {
    padding     : 0px;
    margin      : 0px;
    overflow    : hidden;
}

#preloading {
    position   :absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    color      : #999999;
    background : #171717;
}

#preloading .content {
    text-align : center;
    width      : 50vw;
    margin     : 35vh auto;
    padding    : 50px 0px;
}
#preloading p {
    font-family : sans-serif !important;
    font-size   : 26px !important;
    margin      : 26px 0px !important;
    font-weight : 100 !important;
}
