<nav class="side-bar left" style="">
  <div class="wrap">
    <div class="tabs" data-tab>
      <span class="active">
        <a href="#tab-nodelist">Node List</a>
      </span>
    </div>

    <div class="tabs-content">
      <div class="content active" id="tab-nodelist">
        <div class="nano">
          <div class="nano-content">
            <div class="app-panel">
              <div id="nodes-panel">
                
              </div>
              <div class="nodes-operators clearfix">
                <input type="button" class="operator" onclick="app.helpers.resetDynamicTable($('#addnode-table'));" data-reveal-id="modalAddNode" value="Add Custom Nodes">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> 