<!-- NAV BAR -->
<nav id="main-menu" class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://behavior3js.guineashots.com">Behavior3JS</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- LEFT SECTION -->
    <ul class="left">

      <!-- MENU FILE -->
      <li class="has-dropdown">
        <a href="#">File</a>
        <ul class="dropdown">
          <li>
            <a href="#" data-reveal-id="modalNewTree">
              <div class="clearfix">
                <span class="name">New Tree</span>
                <span id="key_new_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a href="#" data-reveal-id="modalImportTree">
              <div class="clearfix">
                <span class="name">Import Tree</span>
                <span id="key_import_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonExportTree();" data-reveal-id="modalExportTree" href="#">
              <div class="clearfix">
                <span class="name">Export Tree</span>
                <span id="key_export_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.helpers.resetDynamicTable($('#addnode-table'));" data-reveal-id="modalAddNode" href="#">
              <div class="clearfix">
                <span class="name">Add Custom Node</span>
                <span id="key_export_tree" class="key"></span>
              </div>
            </a>
          </li>
          <!-- <li class="divider"></li> -->
          <!-- <li><a onclick="editor.app.events.onButtonPreferences();" href="#">Preferences</a></li> -->
        </ul>
      </li>
      <!-- END MENU FILE -->

      <!-- MENU EDIT -->
      <li class="has-dropdown">
        <a href="#">Edit</a>
        <ul class="dropdown">
          <li>
            <a onclick="app.events.onButtonCopy();" href="#">
              <div class="clearfix">
                <span class="name">Copy</span>
                <span id="key_copy" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonCut();" href="#">
              <div class="clearfix">
                <span class="name">Cut</span>
                <span id="key_cut" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonPaste();" href="#">
              <div class="clearfix">
                <span class="name">Paste</span>
                <span id="key_paste" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemove();" href="#">
              <div class="clearfix">
                <span class="name">Remove</span>
                <span id="key_remove" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.events.onButtonRemoveConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemoveInConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All In Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemoveOutConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All Out Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- END MENU EDIT -->

      <!-- MENU VIEW -->
      <li class="has-dropdown">
        <a href="#">View</a>
        <ul class="dropdown">
          <li>
            <a onclick="app.events.onButtonAutoOrganize();" href="#">
              <div class="clearfix">
                <span class="name">Auto Organize</span>
                <span id="key_organize" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.events.onButtonZoomIn();" href="#">
              <div class="clearfix">
                <span class="name">Zoom In</span>
                <span id="key_zoom_in" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonZoomOut();" href="#">
              <div class="clearfix">
                <span class="name">Zoom Out</span>
                <span id="key_zoom_out" class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- END MENU VIEW -->

      <!-- MENU SELECTION -->
      <li class="has-dropdown">
        <a href="#">Selection</a>
        <ul class="dropdown">
          <li>
            <a onclick="app.events.onButtonSelectAll();" href="#">
              <div class="clearfix">
                <span class="name">Select All</span>
                <span id="key_select_all" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonDeselectAll();" href="#">
              <div class="clearfix">
                <span class="name">Deselect All</span>
                <span id="key_deselect_all" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonInvertSelection();" href="#">
              <div class="clearfix">
                <span class="name">Invert Selection</span>
                <span id="key_invert_selection" class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- END MENU SELECTION -->
    </ul>
    <!-- END LEFT SECTION -->

    <!-- RIGHT SECTION -->
    <ul class="right">

      <li class="has-dropdown">
        <a href="#">Help</a>
        <ul class="dropdown">
          <li>
            <a href="https://github.com/renatopp/behavior3js/wiki" target="_blank">
              <div class="clearfix">
                <span class="name">Editor Guide</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a href="https://github.com/renatopp/behavior3js/wiki" target="_blank">
              <div class="clearfix">
                <span class="name">Core Guide</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://docs.guineashots.com/behavior3js/" target="_blank">
              <div class="clearfix">
                <span class="name">API</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a href="https://github.com/renatopp/behavior3js/issues" target="_blank">
              <div class="clearfix">
                <span class="name">Issues</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="http://guineashots.com/projects/" target="_blank">
              <div class="clearfix">
                <span class="name">Other Projects</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a href="http://guineashots.com" target="_blank">
              <div class="clearfix">
                <span class="name">Guineashots.com</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- END RIGHT SECTION -->

  </section>
</nav>
<!-- END NAV BAR -->