<!-- MODAL NEW TREE -->
<div id="modalNewTree" class="reveal-modal tiny" data-reveal data-options="close_on_background_click: false; animation: fade; animation_speed: 150">
  <h2>New Tree</h2>
  <a class="close-reveal-modal">&#215;</a>
  
  <div class="content spacing-bot">
    <p>Creating a new tree will erase the current content without saving it.</p>
    <p>Do you want to continue?</p>
  </div>

  <div class="operations">
    <div class="clearfix">
      <a onclick="app.events.onButtonNewTree(); $('#modalNewTree').foundation('reveal', 'close');" href="#" class="button right small nopadding">Continue</a>
      <a onclick="$('#modalNewTree').foundation('reveal', 'close');" href="#" class="button right secondary small">Cancel</a>
    </div>
  </div>
</div>
<!-- END MODAL NEW TREE -->