<!-- MODAL NEW TREE -->
<div id="modalFirstTime" class="reveal-modal tiny" data-reveal data-options="close_on_background_click: false; animation: fade; animation_speed: 150">
  <h2>Hello!</h2>
  <a class="close-reveal-modal">&#215;</a>
  
  <div class="content spacing-bot">
    <p>It seems to be your first time here!</p>
    <p>Please, take a few minutes to look at the <a href="https://github.com/renatopp/behavior3js/wiki">GUIDE</a> before using this editor.</p>
  </div>

  <div class="operations">
    <div class="clearfix">
      <a onclick=" window.open('https://github.com/renatopp/behavior3js/wiki', '_blank'); $('#modalFirstTime').foundation('reveal', 'close');" href="#" class="button right small nopadding">Continue</a>
      <a onclick="$('#modalFirstTime').foundation('reveal', 'close');" href="#" class="button right secondary small">Cancel</a>
    </div>
  </div>
</div>
<!-- END MODAL NEW TREE -->