<!-- MODAL IMPORT TREE -->
<div id="modalImportTree" class="reveal-modal" data-reveal data-options="close_on_background_click: false; animation: fade; animation_speed: 150">
  <h2>Import Tree</h2>
  <a class="close-reveal-modal">&#215;</a>

  <div class="content spacing-bot">
    <form>
      <textarea id="import-entry" class="input_textarea" placeholder="Copy your JSON here"></textarea>
    </form>
  </div>

  <div class="operations">
    <div class="clearfix">

      <a onclick="app.events.onButtonImportTree(); $('#modalNewTree').foundation('reveal', 'close');" href="#" class="button right small nopadding">Continue</a>
      <a onclick="$('#modalNewTree').foundation('reveal', 'close');" href="#" class="button right secondary small">Cancel</a>

      <a href="#" onclick="$('#import-entry').select();" class="button secondary left small">Select All</a>

      <a href="#" onclick="$('#import-entry').val('');" class="button secondary left small">Clear</a>
    </div>
  </div>
</div>
<!-- END MODAL IMPORT TREE -->
