MODAL EXPORT TREE -->
<div id="modalAddNode" class="reveal-modal" data-reveal data-options="close_on_background_click: false; animation: fade; animation_speed: 150">
  <h2>Add Nodes</h2>
  <a class="close-reveal-modal">&#215;</a>

  <div class="content spacing-bot">
    <form>

      <table class="dynamic-table operators">
        <tbody>
          <tr>
            <td colspan="3"></td>
            <td class="operator">
              <input type="button" class="operator" onclick="app.events.onAddDynamicRow($('#addnode-table'));" value="+">
            </td>
          </tr>
          <!-- UPDATED AUTOMATICALLY -->
        </tbody>
      </table>
    
      <table id="addnode-table" class="dynamic-table">
        <tbody>

          <!-- UPDATED AUTOMATICALLY -->
        </tbody>
      </table>

    </form>
  </div>

  <div class="operations">
    <div class="clearfix">

      <a onclick="app.helpers.addCustomNodes($('#addnode-table')); $('#modalAddNode').foundation('reveal', 'close');" href="#" class="button right small nopadding">Add</a>

      <a href="#" onclick="$('#modalAddNode').foundation('reveal', 'close');" class="button secondary right small">Cancel</a>

    </div>
  </div>
</div>
<!-- END MODAL EXPORT TREE