<!-- MODAL EXPORT TREE -->
<div id="modalExportTree" class="reveal-modal" data-reveal data-options="close_on_background_click: false; animation: fade; animation_speed: 150">
  <h2>Export Tree</h2>
  <a class="close-reveal-modal">&#215;</a>

  <div class="content spacing-bot">
    <form>
      <textarea id="export-entry" class="input_textarea" placeholder="Exporting model, please wait..."></textarea>
    </form>
  </div>

  <div class="operations">
    <div class="clearfix">
      <a onclick="$('#modalNewTree').foundation('reveal', 'close');" href="#" class="button right small">Close</a>

      <a href="#" onclick="$('#export-entry').select();" class="button secondary left small nopadding">Select All</a>
    </div>
  </div>
</div>
<!-- END MODAL EXPORT TREE -->